html {
    box-sizing: border-box; 
      }      
*, *:before, *after {
    box-sizing: inherit;
}

body {
    background: url("../images/triviaBackground.jpg");
    font-family: 'Merriweather', serif;
    color: #0c0d57;
    }

    img {
        max-width: 100%;
        height: auto;
    }

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    background-color: rgba(244, 251, 197, 0.83);
    border: solid #0c0d57 8px;
    border-radius: 12px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

h2 {
    font-size: 28px;
    text-align: center;
    padding-top: 5px; 
}

h3 {
    font-size: 30px;
    text-align: center;   
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    margin-top: 20px;
}

h4 {
    font-size: 22px;
    text-align: center;
    font-family: 'Playfair Display', serif;   
}

h5 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;

}

#resultsList {
    margin-top: 22px;
}

#start {
    height: 120px;
    width: 350px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(244, 251, 197, 0.83);
    border: solid #0c0d57 8px;
    border-radius: 15px;
    position: absolute;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#answerButtons {
    text-align: center;
}

#restart {
    height: 120px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(244, 251, 197, 0.83);
    border: solid #0c0d57 8px;
    border-radius: 15px;
    position: absolute;
    margin-top: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #imagesFrame { 
    width: 280px;
    height: 170px;
    border: solid #0c0d57 4px;
    margin-top: 85px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
 } */


